@import 'partials/body';
@import 'partials/texto';
@import 'partials/form';
@import 'partials/variables';

.bg-section {
    background-color: $color-primario;
}





input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
min-height: 100px;
max-height: 200px;
max-width: 100px;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover{
cursor: pointer;
}

@media (max-width:480px) {
form{
    width: 100%;
}
}
